Implementacion/worklist/worklist-ws/src/main/webapp/WEB-INF/wsdl/bpm-btm-humantask.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
  targetNamespace="http://service.innovaswc.com/ns/bpel4people/ws-humantask/api/201407"
  xmlns="http://service.innovaswc.com/ns/bpel4people/ws-humantask/api/201407" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:htt="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/types/200803" name="inno-ws-humantask" xmlns:ns1="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/api/200803" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <wsdl:documentation>
    Web Service Definition for WS-HumanTask 1.1 - Operations for Client Applications
  </wsdl:documentation>
    <wsdl:import namespace="http://docs.oasis-open.org/ns/bpel4people/ws-humantask/api/200803" location="ws-humantask-api.wsdl"/>
    <wsdl:binding name="TaskOperationsBinding" type="ns1:taskOperations">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addAttachment">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addComment">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="claim">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchClaim">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="complete">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchComplete">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delegate">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="recipientNotAllowed">
                <soap:fault name="recipientNotAllowed" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchDelegate">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAttachment">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteComment">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteFault">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteOutput">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="fail">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchFail">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="forward">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchForward">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAttachment">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAttachmentInfos">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getComments">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFault">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInput">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOutcome">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOutput">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getParentTask">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getParentTaskIdentifier">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRendering">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRenderingTypes">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubtaskIdentifiers">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubtasks">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTaskDescription">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTaskDetails">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTaskHistory">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTaskInstanceData">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTaskOperations">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="hasSubtasks">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="instantiateSubtask">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isSubtask">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="release">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchRelease">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="remove">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchRemove">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="resume">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchResume">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setFault">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setOutput">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setPriority">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchSetPriority">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTaskCompletionDeadlineExpression">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setTaskCompletionDurationExpression">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setTaskStartDeadlineExpression">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setTaskStartDurationExpression">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="skip">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchSkip">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="start">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchStart">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stop">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchStop">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="suspend">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchSuspend">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="suspendUntil">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchSuspendUntil">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateComment">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMyTaskAbstracts">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMyTaskDetails">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="query">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activate">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchActivate">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nominate">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchNominate">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setGenericHumanRole">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="illegalStateFault">
                <soap:fault name="illegalStateFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalArgumentFault">
                <soap:fault name="illegalArgumentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalAccessFault">
                <soap:fault name="illegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="illegalOperationFault">
                <soap:fault name="illegalOperationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="batchSetGenericHumanRole">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TaskService" >
        <wsdl:port name="TaskOperationsBindingPort" binding="TaskOperationsBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
